body {
    font-family: monospace;
    background-color: #faf7f7;
    background-repeat: no-repeat;

}

#title {
    font-size: 300px;
    color: #000000;
    text-align: center;
    background: #FF7000;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 300px;
    color: #000000;
    text-align: center;

}

h2 {
    color: #FF7000;
    text-align: center;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
}

h3 {
    color: #000000;
    text-align: center;
    font-size: 20px;
}

blockquote {
    color: #000000;
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    font-size: 17px;
    list-style-type: none;

}

li {
    margin: 16px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: center;
}

#img-div {
    background: #FF7000;
    padding: 20px;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

#img-caption {
    margin: 15px 0 5px 0;

}

#img-div2 {
    background: #faf7f7;
    padding: -10px;
    margin: 0;
    text-align: center;
}

#img-div3 {
    background: #faf7f7;
    padding: 0px 0px -40px;
    margin: 0;
    text-align: center;
    font-size: 17px;
}

#img-div4 {
    background: ;
    padding: 20px 0px, ;
    margin: 0;
    text-align: center;
    font-size: 22px;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    color: faf7f7;

}

ul.accomplishments {
    max-width: 550px;
    margin: 0px auto;
    text-align: center;
    line-height: 3.0;
    list-style-type: none;
    color: #FF7000;
    font-size: 20px;
    font-style: italic;
    background: #000000;
    padding: 0px 350px 0px 350px;
}

li.accomplishments {
    margin: 16px 0;
}

p {
    font-size: 20px;
    text-align: center;
}

a:visited {
    color: #FF7000;
}